# belacoder settings
PIPELINE=pipeline/h265_rtmp.pipeline.tpl
MIN_BR=300
MAX_BR=4000
DELAY=0
LATENCY=4000

# streamid pattern ###APP### and ###NAME### get replaced from the incoming RTMP stream APP and NAME
# i.e. rtmp://127.0.0.1/publish/dji would get forwarded to streamid publish/live/polskafan_publish_dji
STREAMID=publish/live/polskafan_###APP###_###NAME###